body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 50px;
}

#messages {
  background: white;
  height: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  overflow-y: auto;
  margin-bottom: 10px;
}

#input-zone {
  display: flex;
  gap: 10px;
}

#messageInput {
  flex: 1;
  padding: 10px;
  border: 1px solid black;
}

.message-bubble {
  border: 1px solid #C80000; /* La bordure rouge dont on parlait */
  background-color: #f9f9f9;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  word-wrap: break-word; /* Évite que le texte sorte de la boîte */
  font-family: "LoserMotoClub", sans-serif; /* Pour garder ta police */
  max-width: 80%;
  width: fit-content;
}